{% extends "wrapper.html" %}
{% block content %}

	<div class="container">
		
		{% include "sidebar.html" %}

		<div class="content">

			<div class="content__head grid">
				<h2 class="content__title grid__cell">Add a new medium</h2>

				{% include "access.html" %}

			</div>

			<form class="form" action="{{ url_for('newMedium') }}" method="post">
				<div class="form__row">
					<label class="label" for="name">New medium:</label>
					<input class="input" type="text" name="name">
				</div>
				<input type="submit" name="submit" value="Create">
			</form>

		</div>

	</div>

{% endblock %}