{% extends "wrapper.html" %}
{% block content %}

	<div class="container">
		
		{% include "sidebar.html" %}

		<div class="content">

			<div class="content__head grid">
				<h2 class="content__title grid__cell">{{medium.name}} Items</h2>

				{% include "access.html" %}

			</div>

			{% for item in items %}

				<h2><a href="{{ url_for('showItem', medium_name=item.medium.name, item_id=item.id) }}">{{item.name}}</a></h2>
				
				<img src="{{item.image_url}}" width="200">

				<p>{{item.description}}</p>

			{% endfor %}

		</div>

	</div>

{% endblock %}